<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56954928755-job8uqugg6spcvah5ci7euslvc7m6r72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56954928755-job8uqugg6spcvah5ci7euslvc7m6r72</string>
	<key>API_KEY</key>
	<string>AIzaSyBnP8ENNiiAP-yNS-S0KkFmGz_TMv04ofc</string>
	<key>GCM_SENDER_ID</key>
	<string>56954928755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trung.dx.travel</string>
	<key>PROJECT_ID</key>
	<string>work-infinity-x-test</string>
	<key>STORAGE_BUCKET</key>
	<string>work-infinity-x-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56954928755:ios:64124ba8d986c40c37f406</string>
</dict>
</plist>